/*I learned that you can apply a style directly to an element and it has a higher priority over what was inherited.*/




<style >
body {
    background-color: black;
    font-family: monospace;
    color: green;
}

.pink-text {
    color: pink;
}

</style >
<h1 class="pink-text" > Hello World!</h1 >
